In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score
from sklearn.model_selection import cross_val_score
train_df = pd.read_csv('datos limpios')

In [33]:
train_df.head()

,Unnamed: 0,carat,depth,table,x,y,z,price,cut_2,color_2,clarity_2
0,0,1.12,61.6,59.0,6.67,6.63,4.10,5363,3,4,2
1,1,1.14,60.0,54.0,6.74,6.97,4.11,5593,4,1,3
2,2,0.90,60.3,63.0,6.12,6.22,3.72,3534,4,0,3
3,3,0.71,61.9,54.0,5.74,5.76,3.56,3212,2,1,4
4,4,0.34,60.0,62.0,4.51,4.55,2.72,447,4,2,3

In [12]:
# Ground Truth
y = train_df["price"]

# Features
X = train_df[["carat","x","y","z","color_2","table", "depth","cut_2", "clarity_2"]]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 9) (8091, 9) (32364,) (8091,)

In [38]:
model = RandomForestRegressor(n_estimators=500,max_features="auto",max_depth=35,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [39]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9792760122256722
Mean squared error 580.742782350524
Mean absolute error 282.3519931631854
explained variance score 0.9792986848388517

In [40]:
model = RandomForestRegressor(n_estimators=700,max_features="auto",max_depth=35,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [41]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.979165225828496
Mean squared error 582.2929821762436
Mean absolute error 282.9150175621227
explained variance score 0.9791867937828029

In [42]:
model = RandomForestRegressor(n_estimators=1000,max_features="auto",max_depth=35,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [43]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9791785423679543
Mean squared error 582.1068662429055
Mean absolute error 282.5783358354499
explained variance score 0.9792006084043147

In [44]:
model = RandomForestRegressor(n_estimators=1000,max_features="auto",max_depth=50,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [45]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9792088906754048
Mean squared error 581.6824867300417
Mean absolute error 282.28911318239153
explained variance score 0.9792312020957936

In [46]:
model = RandomForestRegressor(n_estimators=1000,max_features="auto",max_depth=25,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [47]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9791270205021154
Mean squared error 582.8266213697688
Mean absolute error 282.54529467927307
explained variance score 0.979148260295211

In [48]:
model = RandomForestRegressor(n_estimators=1000,max_features="auto",max_depth=15,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [49]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9794214159809099
Mean squared error 578.7018908937162
Mean absolute error 283.9116059629582
explained variance score 0.9794426272702452

In [50]:
model = RandomForestRegressor(n_estimators=1000,max_features="auto",max_depth=20,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [53]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9767889652408666
Mean squared error 614.6026213322806
Mean absolute error 300.4032918362655
explained variance score 0.9768232086514199

In [52]:
model = RandomForestRegressor(n_estimators=1000,max_features="log2",max_depth=25,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [22]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9780099509776471
Mean squared error 584.7769281203659
Mean absolute error 287.7635832419596
explained variance score 0.9780099562437922

## Modelo seleccionado

El mejor modelo entrenado variando los hyperparametros es el siguiente,vamos a hacerle un cross para que lo entrene con todo.

In [14]:
model = RandomForestRegressor(n_estimators=1000,max_features="auto",max_depth=15,n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [15]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9805659773627311
Mean squared error 556.4918878231033
Mean absolute error 278.70343441515615
explained variance score 0.9805675690766915

In [56]:
scores = cross_val_score(model,X,y, cv=10)
print(np.mean(scores))

0.9805460616182315

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(30341, 9) (10114, 9) (30341,) (10114,)

## Test

In [25]:
test_df = pd.read_csv('datos limpios_2')

In [26]:
test_df.head()

   id  carat  depth  table     x     y     z  cut_2  color_2  clarity_2
0   0   0.33   62.0   58.0  4.44  4.46  2.76      4        5          1
1   1   1.21   62.4   58.0  6.77  6.83  4.24      4        0          3
2   2   1.06   59.3   60.0  6.64  6.71  3.96      4        0          2
3   3   0.36   61.4   57.0  4.64  4.61  2.54      2        1          6
4   4   0.70   62.3   54.0  5.67  5.72  3.55      2        1          4

In [27]:
test_df =test_df.drop(test_df.columns[[0]], axis='columns')
test_df.head()

   carat  depth  table     x     y     z  cut_2  color_2  clarity_2
0   0.33   62.0   58.0  4.44  4.46  2.76      4        5          1
1   1.21   62.4   58.0  6.77  6.83  4.24      4        0          3
2   1.06   59.3   60.0  6.64  6.71  3.96      4        0          2
3   0.36   61.4   57.0  4.64  4.61  2.54      2        1          6
4   0.70   62.3   54.0  5.67  5.72  3.55      2        1          4

In [28]:
model_test=model.predict(test_df)

In [29]:
RandomForest_test=pd.DataFrame(model_test).reset_index().rename(columns={"index":"id",0:"price"})

In [30]:
RandomForest_test.to_csv("output/RandomForest_test.csv",index=False)