In [7]:
import pandas as pd
import numpy as np
import requests
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score

In [8]:
train_df = pd.read_csv('datos limpios')
train_df.head()

,Unnamed: 0,carat,depth,table,x,y,z,price,cut_2,color_2,clarity_2
0,0,1.12,61.6,59.0,6.67,6.63,4.10,5363,3,4,2
1,1,1.14,60.0,54.0,6.74,6.97,4.11,5593,4,1,3
2,2,0.90,60.3,63.0,6.12,6.22,3.72,3534,4,0,3
3,3,0.71,61.9,54.0,5.74,5.76,3.56,3212,2,1,4
4,4,0.34,60.0,62.0,4.51,4.55,2.72,447,4,2,3

In [9]:
# Ground Truth
y = train_df["price"]

# Features
X = train_df[["carat","x","y","z","color_2","table", "depth","cut_2", "clarity_2"]]