In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import *

In [3]:
train_df = pd.read_csv('datos limpios')
train_df.head()

,Unnamed: 0,carat,depth,table,x,y,z,price,cut_2,color_2,clarity_2
0,0,1.12,61.6,59.0,6.67,6.63,4.10,5363,3,4,2
1,1,1.14,60.0,54.0,6.74,6.97,4.11,5593,4,1,3
2,2,0.90,60.3,63.0,6.12,6.22,3.72,3534,4,0,3
3,3,0.71,61.9,54.0,5.74,5.76,3.56,3212,2,1,4
4,4,0.34,60.0,62.0,4.51,4.55,2.72,447,4,2,3

In [4]:
train_df =train_df.drop(train_df.columns[[0]], axis='columns')
train_df.head()

   carat  depth  table     x     y     z  price  cut_2  color_2  clarity_2
0   1.12   61.6   59.0  6.67  6.63  4.10   5363      3        4          2
1   1.14   60.0   54.0  6.74  6.97  4.11   5593      4        1          3
2   0.90   60.3   63.0  6.12  6.22  3.72   3534      4        0          3
3   0.71   61.9   54.0  5.74  5.76  3.56   3212      2        1          4
4   0.34   60.0   62.0  4.51  4.55  2.72    447      4        2          3

In [29]:
# Ground Truth
y = train_df["price"]

# Features
X = train_df[["carat","x","y","z","color_2","table", "depth","cut_2","clarity_2"]]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 9) (8091, 9) (32364,) (8091,)

In [7]:
model =GradientBoostingRegressor(n_estimators=500, max_depth=15, min_samples_leaf=3)
model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=15, min_samples_leaf=3, n_estimators=500)

In [8]:
print('R2', r2_score(y_test, model.predict(X_test)))
print('MAE', mean_absolute_error(y_test, model.predict(X_test)))

R2 0.8995487525332858
MAE 682.5642162736176

In [9]:
model =GradientBoostingRegressor(n_estimators=1000, max_depth=15, min_samples_leaf=3)
model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=15, min_samples_leaf=3, n_estimators=1000)

In [10]:
print('R2', r2_score(y_test, model.predict(X_test)))
print('MAE', mean_absolute_error(y_test, model.predict(X_test)))

R2 0.897941105449406
MAE 688.5763096703038

In [11]:
model =GradientBoostingRegressor(n_estimators=1000, max_depth=20, min_samples_leaf=3)
model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=20, min_samples_leaf=3, n_estimators=1000)

In [12]:
print('R2', r2_score(y_test, model.predict(X_test)))
print('MAE', mean_absolute_error(y_test, model.predict(X_test)))

R2 0.8976007096041032
MAE 687.8730771597147

In [13]:
model =GradientBoostingRegressor(n_estimators=500, max_depth=15, min_samples_leaf=2)
model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=15, min_samples_leaf=2, n_estimators=500)

In [14]:
print('R2', r2_score(y_test, model.predict(X_test)))
print('MAE', mean_absolute_error(y_test, model.predict(X_test)))

R2 0.897491726673802
MAE 689.9721347413246

In [15]:
scores = cross_val_score(model,X,y, cv=10)
print(np.mean(scores))

0.899855877821663

## Entrenamos el modelo con 100% del test

In [31]:
model =GradientBoostingRegressor(n_estimators=500, max_depth=15, min_samples_leaf=2)
model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=15, min_samples_leaf=2, n_estimators=500)

In [32]:
test_df = pd.read_csv('datos limpios_2')

In [33]:
test_df.head()

   id  carat  depth  table     x     y     z  cut_2  color_2  clarity_2
0   0   0.33   62.0   58.0  4.44  4.46  2.76      4        5          1
1   1   1.21   62.4   58.0  6.77  6.83  4.24      4        0          3
2   2   1.06   59.3   60.0  6.64  6.71  3.96      4        0          2
3   3   0.36   61.4   57.0  4.64  4.61  2.54      2        1          6
4   4   0.70   62.3   54.0  5.67  5.72  3.55      2        1          4

In [34]:
test_df =test_df.drop(test_df.columns[[0]], axis='columns')
test_df.head()

   carat  depth  table     x     y     z  cut_2  color_2  clarity_2
0   0.33   62.0   58.0  4.44  4.46  2.76      4        5          1
1   1.21   62.4   58.0  6.77  6.83  4.24      4        0          3
2   1.06   59.3   60.0  6.64  6.71  3.96      4        0          2
3   0.36   61.4   57.0  4.64  4.61  2.54      2        1          6
4   0.70   62.3   54.0  5.67  5.72  3.55      2        1          4

In [35]:
model_test=model.predict(test_df)

In [40]:
GradientBoostingRegressor_test =pd.DataFrame(model_test).reset_index().rename(columns={"index":"id",0:"price"})

In [42]:
GradientBoostingRegressor_test.to_csv("output/GradientBoostingRegressor_test.csv",index=False)