In [114]:
import pandas as pd
import numpy as np
import requests
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score

In [115]:
test_df = pd.read_csv('input/predict.csv',index_col=0)
test_df.head()

    carat        cut color clarity  depth  table     x     y     z
id
0    0.33  Very Good     I      IF   62.0   58.0  4.44  4.46  2.76
1    1.21  Very Good     D     SI2   62.4   58.0  6.77  6.83  4.24
2    1.06  Very Good     D     SI1   59.3   60.0  6.64  6.71  3.96
3    0.36      Ideal     E    VVS1   61.4   57.0  4.64  4.61  2.54
4    0.70      Ideal     E     VS1   62.3   54.0  5.67  5.72  3.55

Se realiza la misma exploración y limpieza que en el caso del train,pero en este caso con los datos del test.Se convierten todos los datos a numéricos,y se eliminan las columnas repetidas.

In [116]:
#test_df.isna().sum()

In [117]:
#test_df.dtypes

In [118]:
le = preprocessing.LabelEncoder()
test_df["cut_2"] = le.fit_transform(test_df["cut"])
test_df["color_2"] = le.fit_transform(test_df["color"])
test_df["clarity_2"] = le.fit_transform(test_df["clarity"])
test_df.head()

,carat,cut,color,clarity,depth,table,x,y,z,cut_2,color_2,clarity_2
id,,,,,,,,,,,,
0,0.33,Very Good,I,IF,62.0,58.0,4.44,4.46,2.76,4,5,1
1,1.21,Very Good,D,SI2,62.4,58.0,6.77,6.83,4.24,4,0,3
2,1.06,Very Good,D,SI1,59.3,60.0,6.64,6.71,3.96,4,0,2
3,0.36,Ideal,E,VVS1,61.4,57.0,4.64,4.61,2.54,2,1,6
4,0.70,Ideal,E,VS1,62.3,54.0,5.67,5.72,3.55,2,1,4

In [120]:
test_df =test_df.drop(test_df.columns[[ 1, 2, 3]], axis='columns')
test_df.head()

    carat  depth  table     x     y     z  cut_2  color_2  clarity_2
id
0    0.33   62.0   58.0  4.44  4.46  2.76      4        5          1
1    1.21   62.4   58.0  6.77  6.83  4.24      4        0          3
2    1.06   59.3   60.0  6.64  6.71  3.96      4        0          2
3    0.36   61.4   57.0  4.64  4.61  2.54      2        1          6
4    0.70   62.3   54.0  5.67  5.72  3.55      2        1          4

In [121]:
test_df.to_csv('datos limpios_2')